@import "../../../assets/styles/defaultmixin";

.home-content {
  display: flex;
  padding: 30px 20px;
  width: 100%;
  justify-content: space-between;
}

.post-content {
  padding-top: 20px;
  @include displayFlex;
}
@media screen and (max-width: 400px) {
  .home-content {
    padding: 0;
    display:inline;
  }
  .status-post-content {
    padding: 10px 0px 10px 0px;
    .status-conetnt{
      .check{
        margin-right: 30px;
        .right-icon{
          right: -20px;
        }
      }
    }
    .post-content{
      display: inline;
      min-width: 100px !important;
      .post-card{
        padding: 15px 5px 55px 0px;
        width: 400px;

        .post-add-comment {
          width: 390px;
          margin-left:25px ;
        }
        .post-img-vid {
          padding: 10px 0px;
          position: relative;
  
          img {
              height: 418px;
              width: 400px;
          }
  
          .volumeIcon {
              position: absolute;
              top: 12.5rem;
              right: 1.5rem;
          }
      }
      }   
    }
  }

  .aside-content {
    display: none;
  }
}
@media screen and (min-width: 410px) {
  .home-content {
    padding: 0;
    display:inline;
  }
  .status-post-content {
    padding: 10px 0px 10px 0px;
    .status-conetnt{
      .check{
        margin-right: 30px;
        .right-icon{
          right: -20px;
        }
      }
    }
    .post-content{
      display: inline;
      min-width: 100px !important;
      .post-card{
        padding: 15px 5px 55px 5px;
        width: 410px;

        .post-add-comment {
          width: 400px;
          margin-left:25px ;
        }
        .post-img-vid {
          padding: 10px 0px;
          position: relative;
  
          img {
              height: 418px;
              width: 410px;
          }
  
          .volumeIcon {
              position: absolute;
              top: 12.5rem;
              right: 1.5rem;
          }
      }
      }   
    }
  }

  .aside-content {
    display: none;
  }
}
// @media only screen and (max-width: 600px) {
//   .status-post-content {
//     margin-left: 20%;
//   }

//   .aside-content {
//     display: none;
//   }
// }

@media only screen and (min-width: 500px) {
  .status-post-content {
    margin-left: 13%;
  }

  .aside-content {
      display: none;
  }
}

@media only screen and (min-width: 744px) {
  .status-post-content {
    margin-left: 10%;
  }

  .aside-content {
      display: none;
  }
}

@media only screen and (min-width: 800px) {
  .status-post-content {
    margin-left: 10%;
  }

  .aside-content {
    display: none;
  }
}


@media only screen and (min-width: 1130px) {
  // .home-content {
  //   gap: 1rem;
  // }

  .aside-content {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  .aside-content {
    display: block;
  }
}

@media only screen and (min-width: 1280px) {
  .home-content {
    gap: 2rem;
  }
  .aside-content {
    display: block;
  }
}
@media only screen and (min-width: 1390px) {
  .home-content {
    gap: 7rem;
  }
  .aside-content {
    display: block;
  }
}