@import "../../../styles/defaultmixin";

.popup-btn-basic {
    @include displayFlex;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 0px;
    height: 38px;
    border-bottom: 1px solid rgb(60, 58, 58);
}

.more-popup-btn {
    @extend .popup-btn-basic;
    color: rgb(255, 255, 255);
}

.more-popup-red-btn {
    @extend .popup-btn-basic;
    color: rgb(237, 73, 86);
    font-weight: 700;
}

.popup-loading {
    @include displayFlex;
    height: 100px;
    width: 100%;
}

.close-btn {
    border-top: 1px solid rgb(60, 58, 58);
}

.close-icon {
    @include close-icon;
    right: 2rem;
}
